# Configuration de la base de données
MONGO_URI=mongodb://localhost:27017/quantix-inventory

# Configuration JWT
JWT_SECRET=votre_secret_jwt_tres_securise_ici

# Configuration du serveur
PORT=3000

# Configuration Azure Blob Storage
AZURE_STORAGE_ACCOUNT_NAME=ton_account_name
AZURE_STORAGE_ACCOUNT_KEY=ta_cle_azure
AZURE_BLOB_CONTAINER_NAME=image 